.App {
  text-align: center;
}

h1 {
  color: #007bff;
  padding-top: 50px;
  padding-bottom: 10px;
}


/* Calendar Styling*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendar {
  width: 40vw;
}
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day-container,
.weekDay {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.day {
  text-align: center;
}
.pending, .available {
  background-color: #0098e9;
  color: white;
  cursor: pointer;
}
.passed {
  background-color: rgb(196, 196, 196);
  color: rgb(48, 48, 48);
}
.month {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.schedule-info {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  width: 40vw;
  justify-content: center;
}
.day-info, .dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdowns {
  margin-bottom: 10px;
}

/*ListaExpedientes css*/

.buscador{
  margin-bottom: 20px;
  margin-top: 20px;
}

.icono{
  margin-right: 15px;
}

th{
  color:#fdfdfd;
  background-image: linear-gradient(180deg, #48bcf6, #458dfc);
  text-align: center;
  font-weight: normal;
}

/*Expediente Individual css*/

.card{
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
}
.card h6, 
.card p{
  display: inline;
}

.img{
  width: 100px;
  height: 100px;
  align-self: center;
  margin-top: 35px;
  border-radius: 50%;
}




/*Footer css*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(180deg, #48bcf6, #458dfc);
  color: white;
  text-align: center;
  padding-top: 1vh;
}


/*Registro Paciente css*/

.titu{
  text-align: center;
  color: #458DFC;
  margin-top: 50px;
  margin-bottom: 10px;
}

h2, h5{
  text-align: center;
  color: gray;
  padding: 10px;
}
.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.encabezado2{
  padding: 5%;
}


.formulario{
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formi{
  width: 1000px;
  margin-bottom: 20px;
}

.boton{
  padding: 20px;
}



/*Pagos css*/
.titulo_Agenda{
  text-align: center;
  color: #458DFC;
  margin-top: 40px;
  margin-bottom: 10px;
}



.datostarjeta{
  color: black;
  width: 1000px;
  position: relative; 
  background-color:#fff;

}

.negritas{
  font-weight: 500;
}
.Año{
  color:#fff
}


.boton_realizarpago{
  padding: 6%;
}

.datos{
  width: 500px;
  margin-bottom: 20px;
  background-color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}
.citas{
  font-size: medium;
}

.formato{
  background-color: rgb(60, 144, 192);
  margin: 50px;
  width: 400px;
}

.Number{
  background-color: #fff;
}



.resumen{
  text-align: center;
  padding: 50px;
}

.finalizarPago{
  padding: 10%;
  
}

.imagenes_tarjeta{
  background-color: #fff;
  margin: 50px;
  margin-left: 30px;
  
}



h5{
  text-align: center;
  color: gray;
  padding: 5px;
}

.encabezado_pagos{
  padding: 8%;
}

.App-header {
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.textofinal{
  color: black;
  font-size: unset;
  font-weight: initial;
  text-align: center;
  
}






/*Editar Datos Paciente*/
.contenedor_editardatos{
  margin-bottom: 100px;
}



.boton_borrar_cuenta{
  margin: 5px;
}

